* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
       font-family: 'Rajdhani', sans-serif;
}


:root {
    --gold: #ffcc00;
    --blue: #0059ff;
}


body {
    background-color: var(--dark);
    color: white;
    font-family: 'Rajdhani', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    padding: 0 10%;
    overflow: hidden;
}

#home {
    background: radial-gradient(circle at center, #1a1a1a 0%, #000 100%);
}

.hero-content {
    text-align: center;
    z-index: 2;
}

.hero-content h1 {
    font-size: 5rem;
    color: var(--gold);
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin-bottom: 30px;
    opacity: 0.8;
}


.btn {
    display: inline-block;
    padding: 12px 30px;
    background: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;  
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.bg-text {
    position: absolute;
    font-size: 15rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.02);
    z-index: 1;
    white-space: nowrap;
    user-select: none;
}